<div class="container">
<!-- display notice-->
<p id="notice"><%= notice %></p>
<!-- display notice-->

<!-- display all hotels-->
<div class="container">

  <h2>All hotel</h2>
  <p>TTTtripAdvisor: Read Reviews, Compare Prices</p> 

<!--  render 'search_form' -->
  <div class="search">
    <%= form_tag(hotels_path, class: 'form-inline', :method => "get") do %>
      <%= text_field_tag :country, params[:country], placeholder: "Anywhere", class:'form-control col-lg-6'%>
      <%= submit_tag "Search", class:'btn btn-secondary', style:'display: inline;'%>
    <% end %>
  </div>
<!--  <%=  %> -->


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name%></td>
        <td><%= hotel.country%></td>
        <td><%= hotel.city%></td>
        <td><%= link_to 'Show', hotel %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<!-- display all hotels-->

<!-- if you are superadmin, display post hotel's information-->
<% if logged_in? %>
<% if current_user.role == "superadmin" %>
<%= link_to 'New Hotel', new_hotel_path %>
<% end %>
<% end %>
<!-- if you are superadmin, display post hotel's information-->
</div>