<div class="container">
<!-- display notice-->
<p id="notice"><%= notice %></p>
<!-- display notice-->

<!-- display hotel information-->
<div class="hotel_information">

    <p>
    <strong>name:</strong>
    <%= @hotel.name %>
    </p>

    <p>
    <strong>Country:</strong>
    <%= @hotel.country %>
    </p>

    <p>
    <strong>City:</strong>
    <%= @hotel.city %>
    </p>

    
    <p>
    <strong>Num of rooms:</strong>
    <%= @hotel.num_of_rooms %>
    </p>

    <p>
    <strong>Num of guest:</strong>
    <%= @hotel.guest_number %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= @hotel.description %>
    </p>

</div>
<!-- display hotel information-->
    
<!-- display review -->
<p>-----------------------------------</p>
<section class="posted_review">
<p><strong>Review</strong></p>
      <% @hotel_reviews = Review.where(" hotel_id = ?",params[:id])%>
      <% @hotel_reviews.each do |review| %>
        <p><%= review.updated_at %></p>
        <p><%= review.review_description %></p>
        <p>User name: <%= review.user.first_name  %></p>
      <% end %>
        
</section>
<!-- display review -->

<!-- display edit/delete or post review -->
<% if logged_in? %>
<% if current_user.role == "superadmin" %>
<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Destroy', @hotel, method: :delete, data: { confirm: 'Are you sure?' } %>|

<% else %>
<%= link_to 'Post review', new_hotel_review_path(@hotel) %> 
<% end %>
<% end %>
<%= link_to 'Back', hotels_path %>
<!-- display edit/delete or post review -->
</div>

