<!DOCTYPE html>
<html>
  <head>
    <title>asdasdasdasd</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
  </head>

<body>
<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-nav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">TTTAdvisor</a>
            </div>

              <ul class="nav navbar-nav">
                   <li><%= link_to "Hotels", hotels_path %></li>
              </ul>

 <ul class="nav navbar-nav navbar-right">

<!-- if login -->
<% if logged_in?  %> 

        <!-- if you are superadmin, display post hotel's information-->
        <% if current_user.role == "superadmin" %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">management<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'New Hotel', new_hotel_path %></li>
                </ul>
              </li>
          <% end %>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %><%= current_user.last_name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'My page', user_path(current_user) %></li>
                  <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
                </ul>
             </li>


<!-- if not login -->
   <% else %>  
             <li class="dropdown">
               <a href="/sign_in" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign up / Sign in<span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><%= link_to 'Sign in', sign_in_path %></li>
                 <li><%= link_to "Sign in with twitter", "/auth/twitter" %></li>
                 <li role="separator" class="divider"></li>
                <li><%= link_to "Sign up", sign_up_path %></li>
               </ul>
   <% end %>

</nav>
<!-- naver -->
 </body>
     <%= yield %>
</html>
